node_modules/
.vscode/
.idea/
.claude/
ofa.exe
logs/
config/
/config.toml
/profiles.json
!/defaults/config.toml
!/defaults/profiles.json
!/defaults/villager.toml
dc-js/
mc-js/
test/
ofal/
release/
*.exe
*.zip
